#header_area{
  width: 960px;
  display: grid;
  grid-template-columns: 60px 43px 20px 75px 320px 350px 50px 40px;
  text-align: center;
  margin: 11px 0px 0px 0px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
#naver_logo{
  margin: 7px 1px 0px 0px;
}
#comic_logo{
  margin: 3px 0px 0px 0px;
}
#simple_bar{
  color: gray;
  margin: 5px 0px 0px 0px;
}
#web_novel{
  margin: 5px 30px 0px 0px;
}
#search_text {
  border: 0px none;
  color: gray;
  font-size: 12px;
  margin-left: 10px;
}
#search_window{
  display: grid;
  border: 1px lightgray solid;
  grid-template-columns: 280px 20px;
}
#login{
  width: 48px;
  height: 22px;
  border: 1px lightgray solid;
  color: gray;
  font-size: 13px;
  margin: 5px 0px 0px 0px;
}
#service_button{
  margin: 5px 0px 0px 5px;
}
#type_area{
  width: 960px;
  display: grid;
  grid-template-columns: 43px 56px 100px 70px 100px 7px 80px 80px 160px 270px;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid #e5e5e5;
}
#home_button, #best_dozeon, #my_page{
  padding: 9px 0px 0px 0px;
}
#webtoon_button{
  background-color: #00d564;
  margin: 0px;
  padding: 7px 0px 3px 0px;
}
#dozeon_comic, #danhaeng, #genre{
  padding: 7px;
}
#simple_bar2{
  color: #e5e5e5;
  font-size: 14px;
  margin: 7px 0px 0px 0px;
}
#small_ad{
  padding: 9px 0px 0px 140px;
}
#ad_typo{
  padding-top: 11px;
  font-size: 11px;
  color: gray;
}
#filter_area{
  width: 960px;
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 50px 90px 70px;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
}
#day_button, #genre_button, #work_button, #author_button, #year_button, #complete_button{
  padding: 6px 0px 6px 0px;
}
#theme_button{
  padding: 7px 0px 6px 0px;
}
#main_area{
  width: 960px;
  display: grid;
  grid-template-columns: 710px 250px;
  text-align: center;
  margin: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
#content_area{
  display: block;
  width: 710px;
}
#day_select{
  width: 700px;
  display: grid;
  grid-template-columns: 66px 66px 66px 66px 66px 66px 66px 66px;
  text-align: center;
  margin: 20px 10px 0px 0px;
  border-bottom: 1px solid #e5e5e5;
}
.someday{
  font-size: 13px;
  color: #606060;
  margin-bottom: 5px;
  padding-bottom: 3px;
}
#allday{
  font-size: 13px;
  font-weight: bold;
  color: #00c85e;
  margin-bottom: 0px;
  border-bottom: 2px solid #00d564;
}
#upload_btn{
  margin: 5px 0px 5px 0px;
}
#faq{
  padding: 10px;
  border: 1px #e5e5e5 solid;
  font-size: 14px;
}
#hotrank{
  border: 1px #e5e5e5 solid;
  margin-bottom: 10px;
}
#hot_image{
  padding: 5px 0px 5px 5px;
  text-align: left;
  border-bottom: 1px #e5e5e5 solid;
}
#arrange{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#popular{
  padding: 5px 0px 5px 0px;
  border-left: 1px #e5e5e5 solid;
  border-right: 1px #e5e5e5 solid;
}
#update{
  padding: 5px 0px 5px 0px;
  border-bottom: 1px #e5e5e5 solid;
  border-left: 1px #e5e5e5 solid;
  border-right: 1px #e5e5e5 solid;
}
#notice_area{
  width: 700px;
  display: grid;
  grid-template-columns: 80px 500px;
  border: 1px #e5e5e5 solid;
  border-top: none;
  padding: 10px 0px 5px 0px;
}
#notice_text{
  font-size: 14px;
  text-align: left;
}
#thumbnail{
  width: 700px;
  display: grid;
  margin: 25px 0px 25px 0px;
  grid-template-columns: 140px 500px;
}
#detail{
  text-align: left;
  padding-left: 15px;
}
#detail>h2{
  margin: 0px;
}
#yangganom{
  font-size: 13px;
  font-weight: normal;
}
.descrip{
  color: #666;
  margin: 10px 0px 10px 0px;
  font-size: 13px;
}
#btn_group{
  display: grid;
  grid-template-columns: 90px 70px 110px 10px 120px;
  list-style: none;
  padding-left: 0px;
}
.btns{
  border: 1px #b8b8b8 solid;
  padding: 8px 10px 2px 10px;
}
#favor_num{
  font-size: 14px;
  padding-left: 5px;
  font-weight: bold;
  vertical-align: top;
}
#list_label{
  display: grid;
  grid-template-columns: 100px 400px 100px 100px;
  width: 700px;
  padding: 10px 0px 10px 0px;
  color: #767676;
  font-size: 11px;
  border-top: 1px #b8b8b8 solid;
  border-bottom: 1px #b8b8b8 solid;
}
#actual_list{
  width: 700px;
}
.episode{
  display: grid;
  grid-template-columns: 100px 390px 110px 100px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px #e5e5e5 solid;
}
.title_epi{
  font-size: 12px;
  padding: 15px;
  text-align: left;
}
.remain{
  font-size: 10px;
  padding: 15px;
}
#page_select{
  display: grid;
  grid-template-columns: 180px 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px 60px;
}
#page_select{
  margin: 20px 0px 100px 0px;
  font-size: 12px;
  color: #999;
}
#page_select>div{
  padding: 3px 0px 5px 0px;
}
#cur_page{
  border: 1px #e0e0e0 solid;
  font-weight: bold;
  color: #00c85e;
}
#buttom{
  width: 960px;
}
#coop_btns{
  margin: 40px 40px 40px 0px;
  display: grid;
  grid-template-columns: 490px 25px 400px;
  font-size: 12px;
  color: #333132;
  text-align: left;
}
#simple_bar3{
  border-left: #e5e5e5 1px solid;
}
.bold{
  font-weight: bold;
}
#warning{
  font-size: 12px;
  text-align: left;
  color: #999999;
  margin-bottom: 100px;
}